
<!--Here's the hero-->
<div class="hero">
	<br /><br /><br /><br /><br /><br /><br /><br /><br />
	<div class="frosty">
		<h1 class="offset-1">Learn coding with the pros!</h1>
		<h2 class="offset-1">I am the pro you're looking for</h2>
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
	</div>
</div>

<!--Here's the rest of our splash page-->

<br /> <br />

<div class="row text-center">
  <div class="basic-box col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers </p>
  </div>

  <div class="basic-box col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a archive of lessons</p>
  </div>

  <div class="basic-box col-12 col-sm">
    <h3>Join Our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals</p>
  </div>
</div>
