<div class="hero">
	<br /><br /><br /><br /><br /><br /><br /><br /><br />
	<div class="frosty">
		<h1 class="offset-1">Learn coding with the pros!</h1>
		<h2 class="offset-1">I believe that I am that pro</h2>
	</div>
</div>