@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Inconsolata');


h1, h2, h3, h4, h5{
	font-family: 'Inconsolata', monospace;
}

.navbar{
  background: image_url('navback.jpg');
}

.navbar .navbar-brand{
	font-family: 'BioRhyme Expanded', serif;	
}

.navbar .nav-item .active .nav-link{
	font-family: 'Inconsolata', monospace;
}

.hero{
	background: image_url('hero2.jpg');
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;	
}

.frosty{
	background: rgba(0, 0, 0, 0.1);
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
